html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

label{
    margin-left: 50px;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 600;
}

#midTxt {
    margin-left: 50px;
    font-family: "Arial Black";
    font-size: 14px;
    font-weight: 600;
}

#addrTxt{
    width: 300px;
}

#loadmapBtn{
    width:100px;
    height:20px;
    margin-left: 50px;
    background: black;
    color: white
}

#map {
    height: 92%;
    width:100%
}